{% extends "base.html" %}
{% block content %}

<h1>Käyttäjän {{user_logged_in.name}} Muistilista</h1>

<p>{{message}}</p>
<form method="POST" action="{{base_path}}/muista">
    <h3>Lisää uusi muistettava</h3>
    <input type="text" name="id" placeholder="ID">
    <input type="text" name="nimi" placeholder="Tehtävän nimi">
    <select name="luokka_id">
        {% for luokka in luokat %}
        <option value="{{luokka.id}}">{{luokka.nimi}}</option>
        {% endfor %}
    </select>
    <input type="text" name="prioriteetti" placeholder="Prioriteetti">
    <input type="text" name="kuvaus" placeholder="Kuvaus">
    <input type="text" name="pvm" placeholder="Deadline">
    <button type="submit">Lisää</button>
</form>
<h3>TO DO</h3>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Prioriteetti</th>
            <th>Muistettava</th>
            <th>Luokka</th>
            <th>Kuvaus</th>
            <th>Deadline</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {% for muistettavat in muistettava %}
        <tr>
            <td>{{muistettavat.prioriteetti}}</td>
            <td>{{muistettavat.nimi}}</td>
            <td>{{muistettavat.luokka_nimi}}</td>
            <td>{{muistettavat.kuvaus}}</td>
            <td>{{muistettavat.pvm}}</td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/edit/{{muistettavat.id}}">Muokkaa</a></td>


        </tr>
        {% endfor %}


    </tbody>
</table>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>

{% endblock %}